body {
	background: url(background.jpeg);
	background-size: cover;
}

h1 {
	font-size: 5rem;
}
h2 {
	font-size: 2.5rem;
}
p {
	font-size: 1.5rem;
}
main {
	max-width: 600px;
	margin:0 auto;
}
a {
	text-decoration: none;
}
